.tnt-sidebar-category {
  border-bottom: 1px solid $color-eaeaea;
  padding-bottom: 20px;
  margin-bottom: 14px;
}

.tnt-sidebar-category-parent {
  margin-bottom: 10px;
  text-transform: uppercase;

  h5 {
    font-weight: bold;
    font-size: 14px;
  }
}

.tnt-sidebar-category-item {
  padding-left: 10px;
  position: relative;

  a {
    display: block;
    padding-left: 15px;

    &.is-active {
      font-weight: bold;
    }
  }

  &::before {
    content: '»';
    position: absolute;
    width: 12px;
    height: 12px;
  }
}

.tnt-range {
  position: relative;
  z-index: 1;
  margin-top: 40px;
  margin-bottom: 10px;
}

.tnt-range-mb {
  margin-bottom: 10px;
}

.tnt-btn-filter {
  background-color: $color-222222;
  cursor: pointer;
  color: $color-ffffff;
  text-align: center;
  display: block;
  padding: 7px 23px;
  outline: 0;
  border: 1px solid $color-222222;

  &:hover {
    background-color: $color-e34444;
    border: 1px solid $color-e34444;
  }
}

.tnt-toolbar {
  padding-bottom: 10px;
}

.tnt-toolbar-icon {
  width: 30px;
  height: 30px;
  display: inline-block;
  border: 1px solid $color-eaeaea;
  text-align: center;
  padding-top: 6px;
  color: $color-222222;

  &.is-active {
    color: $color-ffffff;
    background-color: $color-e34444;
    border: 1px solid $color-e34444;
  }

  &:hover {
    color: $color-ffffff;
    background-color: $color-e34444;
    border: 1px solid $color-e34444;
  }

  &:not(:last-child) {
    margin-right: 3px;
  }
}

.tnt-amount-mb {
  height: 30px;
  display: inline-block;
  padding-top: 6px;
  color: $color-222222;
  margin-right: 10px;
}

.tnt-toolbar-select {
  display: inline-block;
  margin-bottom: 5px;
  
  &:not(:last-child) {
    margin-right: 30px;
  }

  label {
    margin-right: 10px;
    min-width: 50px;
  }
}

.tnt-toolbar-option {
  display: inline-block;
  width: 120px;
  border: 1px solid $color-eaeaea;
  padding: 5px 10px;

  select {
    border: none;
    background: none;
    width: 100%;
    outline: 0;
  }
}

.card-title {
  font-size: 13px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card-footer {
  text-align: center;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .tnt-content-sidebar {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 100%;
    background-color: $color-ffffff;
    z-index: 52;
    transition: 0.5s;
    border: none;
    overflow-y: auto;
    overflow-x: none;
    padding-bottom: 100px;

    &.is-open {
      right: 0;
    }
  }

  .tnt-sidebar-close {
    color: $color-000000;
    font-size: 40px;

    &:hover {
      color: $color-000000;
      text-decoration: none;
    }
  }
}
