<template lang="pug">
  div
    .tnt-product
      .row
        .col-md-12
          .tnt-product-title
            h3 Recommended
          GridProduct(:list="products.recommend", cols="6")
    .tnt-product(v-if="!$_.isEmpty(products.viewhistory)")
      .row
        .col-md-12
          .tnt-product-title
            h3 Viewed History
          swiper(:options="swiperOption")
            swiper-slide(v-for="item,i in products.viewhistory", :key="item.id")
              GridItem(:value="item", cols="0")
            .swiper-button-prev.swiper-button-red(slot="button-prev")
            .swiper-button-next.swiper-button-red(slot="button-next")
    .tnt-product(v-if="!$_.isEmpty(advertisement)")
      .row
        .col-md-3.d-none.d-md-block
          .row.mb-4
            .col-12
              .shine-effect
                figure
                  a(:href="advertisement[1].url")
                    img.img-fluid(:src="advertisement[1].img", alt="")
          .row
            .col-12
              .shine-effect
                figure
                  a(:href="advertisement[2].url")
                    img.img-fluid(:src="advertisement[2].img", alt="")
        .col-md-6.md-12
          .shine-effect
            figure
              a(:href="advertisement[0].url")
                img.img-fluid(:src="advertisement[0].img", alt="")
        .col-md-3.d-none.d-md-block
          .row.mb-4
            .col-12
              .shine-effect
                figure
                  a(:href="advertisement[3].url")
                    img.img-fluid(:src="advertisement[3].img", alt="")
          .row
            .col-12
              .shine-effect
                figure
                  a(:href="advertisement[4].url")
                    img.img-fluid(:src="advertisement[4].img", alt="")
    .tnt-product
      swiper(:options="swiperOptionProducts")
        swiper-slide
          .row
            .col-12
              .tnt-product-title
                h3 FEATURED
                .swiper-button-prev.swiper-button-image.swiper-button-top-prev(slot="button-prev")
                .swiper-button-next.swiper-button-image.swiper-button-top-next(slot="button-next")
              .tnt-product-content
                GridProduct(:list="products.featured", :cols="6")
        swiper-slide
          .row
            .col-12
              .tnt-product-title
                h3 BEST SALE
                .swiper-button-prev.swiper-button-image.swiper-button-top-prev(slot="button-prev")
                .swiper-button-next.swiper-button-image.swiper-button-top-next(slot="button-next")
              .tnt-product-content
                GridProduct(:list="products.bestsale", :cols="6")
        swiper-slide
          .row
            .col-12
              .tnt-product-title
                h3 MOST VIEWED
                .swiper-button-prev.swiper-button-image.swiper-button-top-prev(slot="button-prev")
                .swiper-button-next.swiper-button-image.swiper-button-top-next(slot="button-next")
              .tnt-product-content
                GridProduct(:list="products.mostview", :cols="6")
        swiper-slide
          .row
            .col-12
              .tnt-product-title
                h3 TOP RATE
                .swiper-button-prev.swiper-button-image.swiper-button-top-prev(slot="button-prev")
                .swiper-button-next.swiper-button-image.swiper-button-top-next(slot="button-next")
              .tnt-product-content
                GridProduct(:list="products.toprate", :cols="6")
    .tnt-product
      .row
        .col-md-12
          a(href="#")
            b-img(fluid, src="/images/banner/banner_sale.jpg", alt="")
    //- .tnt-product
    //-   .row
    //-     .col-md-12
    //-       .tnt-product-title
    //-         h3 Hot Keywords
    //-       .tnt-product-content.tnt-clear-margin
    //-         b-badge.tnt-keyword-badge(href="#", variant="secondary", v-for="item,i in keywords", :key="i") {{item}}
</template>
<script>
import GridProduct from '@/components/products/Grid'
import ListProduct from '@/components/products/List'
import 'swiper/dist/css/swiper.min.css'
import { swiper, swiperSlide } from 'vue-awesome-swiper'
import GridItem from '@/components/products/GridItem'
import dummyData from '@/js/data/dummy/index.json'

export default {
  components: {
    GridProduct,
    ListProduct,
    GridItem,
    swiper,
    swiperSlide
  },
  computed: {
    products() {
      return this.$store.state.home.products
    }
  },
  fetch ({ store }) {
    return store.dispatch('home/setProducts', dummyData)
  },
  data() {
    return {
      title: 'Home',
      swiperOption: {
        slidesPerView: 6,
        spaceBetween: 30,
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        },
        breakpoints: {
          576: {
            slidesPerView: 2
          },
          768: {
            slidesPerView: 4
          },
          992: {
            slidesPerView: 6
          }
        }
      },
      swiperOptionProducts: {
        slidesPerView: 1,
        spaceBetween: 30,
        navigation: {
          nextEl: '.swiper-button-top-next',
          prevEl: '.swiper-button-top-prev'
        }
      },
      advertisement: [],
      keywords: ['Keywords', 'Abcxyz', 'tamnt', 'toanvv', 'toant', 'Keywords', 'Abcxyz', 'tamnt', 'toanvv', 'toant', 'Keywords', 'Abcxyz', 'tamnt', 'toanvv', 'toant', 'Keywords', 'Abcxyz', 'tamnt', 'toanvv', 'toant', 'Keywords', 'Abcxyz', 'tamnt', 'toanvv', 'toant', 'Keywords', 'Abcxyz', 'tamnt', 'toanvv', 'toant', 'Keywords', 'Abcxyz', 'tamnt', 'toanvv', 'toant', 'Keywords', 'Abcxyz', 'tamnt', 'toanvv', 'toant', 'Keywords', 'Abcxyz', 'tamnt', 'toanvv', 'toant', 'Keywords', 'Abcxyz', 'tamnt', 'toanvv', 'toant', 'Keywords', 'Abcxyz', 'tamnt', 'toanvv', 'toant', 'Keywords', 'Abcxyz', 'tamnt', 'toanvv', 'toant', 'Keywords', 'Abcxyz', 'tamnt', 'toanvv', 'toant', 'Keywords', 'Abcxyz', 'tamnt', 'toanvv', 'toant', 'Keywords', 'Abcxyz', 'tamnt', 'toanvv', 'toant', 'Keywords', 'Abcxyz', 'tamnt', 'toanvv', 'toant', 'Keywords', 'Abcxyz', 'tamnt', 'toanvv', 'toant', 'Keywords', 'Abcxyz', 'tamnt', 'toanvv', 'toant']
    }
  },
  async mounted() {
    const viewHistoryStorage = JSON.parse(localStorage.getItem('view_history')) ? JSON.parse(localStorage.getItem('view_history')) : []
    const idList = viewHistoryStorage.map(item => item.id).reverse()
    const { data } = await this.$axios.get('index', {
      params: {
        idList: this.$_.slice(idList, 0, 12).join(',')
      }
    })
    this.$store.dispatch('home/setProducts', data.data)

    let advertisement = data.data.advertisement_home
    if(advertisement.length < 5) {
      if(advertisement.length === 0) {
        advertisement = [{
          url: '#',
          img: '/images/banner/570x440-dummy.jpg'
        }, ...Array.from(Array(4).keys(), n => {
          return {
            url: '#',
            img: '/images/banner/327x250-dummy.jpg'
          }
        })]
      } else {
        advertisement = [...advertisement, ...Array.from(Array(5 - advertisement.length).keys(), n => {
          return {
            url: '#',
            img: '/images/banner/327x250-dummy.jpg'
          }
        })]
      }
    }
    this.advertisement = advertisement
  },
  head() {
    return {
      title: this.title
    }
  }
}
</script>
<style lang="scss" scoped>
  // Modules and Variables
  @import "../scss/modules/colors";

  // Partials
  @import "../scss/modules/product";
  @import "../scss/pages/index";
</style>
