<template lang="pug">
  .row.justify-content-center
    .col-md-8
      iframe(width="100%", height="500", src="https://www.youtube.com/embed/vCOWIJgl1xw", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen="")
</template>
<script>
export default {
  data() {
    return {
      title: 'Video'
    }
  },
  head() {
    return {
      title: this.title
    }
  }
}
</script>
<style lang="scss" scoped>

</style>
