$mobile-breakpoint: 320px;
$tablet-breakpoint: 1024px;
@mixin tranformHidden() {
  visibility: hidden;
  opacity: 0
}
@mixin tranformVisible() {
  visibility: visible;
  opacity: 1
}
@mixin z-indexTop {
  z-index: 999;
}
.tnt-header {
  width: 100%;
  top: 0;
  left: 0;
  margin-bottom: 30px;
  transition: top .5s;
  position: sticky;
  background-color: $color-ffffff;
  @include z-indexTop();
  @include box-shadown(0 1px 5px 0px rgba(0, 0, 0, 0.3));
}
.tnt-header-open {
  font-size: 24px;
}
.tnt-header-action {
  flex: 1;
}
.tnt-topbar-logo {
  display: block;
  margin: 0 1rem;
  img {
    max-height: 50px;
  }
}
.tnt-shopcart {
  padding: 10px 15px 10px 8px;
  position: fixed;
  right: 0;
  top: 25%;
  background-color: $color-ffffff;
  @include box-shadown(5px 3px 5px $color-666666);
  &-noti {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $color-e34444;
    color: $color-ffffff;
    font-weight: bold;
    font-size: 12px;
    position: absolute;
    bottom: 8px;
    left: 13px;
    font-family: Poppins;
    @include displayFlex;
    @include justify-content(center);
    @include align-items(center);
  }
}
.tnt-user-btn>.fa-caret-down {
  display: none;
}
.tnt-user-menu {
  margin-left: 0 !important;
  >i {
    display: none;
  }
}
@mixin tnt-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: $color-ffffff;
  width: 80vw;
  background-color: $color-f7ebeb;
  border-top: 3px solid $color-f56c6c;
  padding: 1.5rem 0;
  transition: .5s;
  list-style-type: none;
  overflow-y: scroll;
  @include box-shadown(0px 0px 30px $color-222222);
}
.tnt-menu-user {
  @include tnt-menu();
  right: -100%;
  &.is-active {
    right: 0;
  }
}
.tnt-header-user {
  a:not(:first-child) {
    margin-left: 15px;
  }
}
.tnt-overlay {
  position: fixed;
  top: 0;
  right: 0;
  background-color: $opacity-ffffff-8;
  width: 100vw;
  height: 100vh;
  display: none;
  &.is-active {
    display: block;
  }
}
.tnt-menu-header {
  @include tnt-menu();
  left: -100%;
  @include box-shadown(0px 0px 30px $color-222222);
  &.is-active {
    left: 0;
  }
}
.tnt-mainmenu-item {
  width: 100%;
  font-size: 13px;
  font-weight: bold;
  position: relative;
  &>a {
    width: 100%;
    font-size: 13px;
    color: $color-333333;
    text-transform: uppercase;
    padding: 1rem 0 1rem 1rem;
    display: inline-block;
    &.is-open {
      background-color: $color-f56c6c;
    }
  }
}
.tnt-submenu-item {
  position: relative;
  padding: 10px 0 10px 10px;
  .tnt-header-submenu {
    display: none;
  }
  &.is-open {
    padding-bottom: 0;
    >.tnt-header-submenu {
      display: block;
      :last-child {
        padding-bottom: 0;
      }
    }
  }
}
.tnt-header-submenu {
  margin: 0 1rem;
  display: none;
  &.is-open {
    display: block;
  }
}
.tnt-submenu-link {
  flex: 1;
  margin-right: 1rem;
}
.line-divide {
  display: block;
  height: 20px;
  width: 1px;
  background-color: $color-aaaaaa;
  margin: 5px 15px 0px 15px;
}
@media (min-width: 991.98px) {
  .tnt-header-open {
    display: none;
  }
  .tnt-topbar-logo {
    margin-left: 0;
  }
  .tnt-search-wrap {
    @include align-self(center);
    .tnt-search-form {
      min-width: 350px;
      outline: none;
      @include displayFlex;
      @include box-shadown(0px 1px 0px $opacity-000000-5);
      .tnt-search-input {
        width: 100%;
        border: 0;
        font-size: 13px;
        outline: none;
        padding: 5px 5px;
        color: $color-333333;
      }
      .tnt-search-btn {
        font-family: "Poppins";
        border: 0;
        font-size: 15px;
        outline: none;
        background: none;
      }
    }
  }
  .tnt-header-search {
    display: none;
  }
  .tnt-shopcart {
    position: unset;
    background-color: $color-ffffff;
    @include box-shadown(none);
  }
  .tnt-overlay.is-active {
    display: none;
  }
  .tnt-menu-header {
    position: static;
    list-style-type: none;
    margin: 0px;
    width: 100vw;
    text-transform: uppercase;
    background-color: $color-f5f5f5;
    @include displayFlex;
    @include align-items(center);
    @include justify-content(center);
    @include box-shadown(none);
    border: none;
    height: auto;
    padding: 0;
    overflow: unset;
  }
  .tnt-header-submenu {
    position: absolute;
    list-style-type: none;
    z-index: 1100;
    top: 100%;
    left: 0;
    margin: 0;
    background-color: $color-222222;
    padding: 10px 0px;
    display: block;
    @include tranformHidden();
    transform-origin: top left;
    @include transition(all 0.3s);
    @include transform(scale(0));
  }
  .tnt-mainmenu-item {
    display: block;
    width: auto;
    padding: 0.4rem 1.5rem;
    font-weight: 300;
    a {
      width: auto;
      padding: 0;
      border-bottom: 1px solid transparent;
      &.is-open {
        background: none;
      }
    }
    .tnt-mainmenu-icon {
      display: none;
    }
    &:hover {
      >a {
        text-decoration: none;
        border-bottom: 1px solid #333333;
      }
      >.tnt-header-submenu {
        @include tranformVisible();
        @include transform(scale(1));
      }
    }
  }
  .tnt-submenu-item {
    padding: 10px;
    color: $color-ffffff;
    min-width: 13rem;
    .tnt-header-submenu {
      display: block;
      top: -10px;
      left: 100%;
    }
    &:hover {
      background-color: #e34444;
      >.tnt-header-submenu {
        display: block;
        @include tranformVisible();
        @include transform(scale(1));
      }
    }
    a {
      color: $color-ffffff;
      max-width: 200px;
    }
    &.is-open {
      padding: 10px;
      .tnt-submenu-item {
        padding: 10px !important;
      }
    }
  }
  .tnt-user-btn {
    display: none;
  }
  .tnt-user-menu {
    position: relative;
    display: inline-block;
    >i {
      display: inline-block;
    }
    &:hover {
      .tnt-menu-user {
        @include tranformVisible();
        @include transform(scale(1));
      }
    }
    >.fa-caret-down {
      display: inline-block;
    }
  }
  .tnt-menu-user {
    position: absolute;
    display: block;
    z-index: 1100;
    min-width: 180px;
    width: auto;
    top: 100%;
    right: 0;
    padding: 10px 0px;
    border-top: 3px solid $color-e34444;
    background-color: $color-ffffff;
    transform-origin: top right;
    overflow: unset;
    bottom: unset;
    @include tranformHidden();
    @include transition(all 0.3s);
    @include transform(scale(0));
    @include box-shadown(5px 5px 10px 0px $color-222222);
  }
  .tnt-user {
    display: inline-block;
  }
  .username {
    margin: 0 0.5rem;
    display: inline !important;
  }
}