<template lang="pug">
  .row
    .col-md-8.tnt-block
      .row.tnt-block
        .col-12
          .tnt-index-1
            VueStep.tnt-vue-step(:now-step="stepOptions.nowStep", :step-list="stepOptions.stepList", :style-type="stepOptions.styleType")
      .row.justify-content-center
        .col-12.text-center.tnt-block
          h4.text-success
            i.fa.fa-check-circle.fa-4x
        .col-12.text-center.tnt-block
          h6 Order:
            span.text-danger  \#{{invoice.id}}
        .col-12.text-center.tnt-block
          h6
            nuxt-link.text-primary(:to="`/order/${invoice.id}`") 
              i.fa.fa-clock-o
              |  Track Order
        .col-12.text-center.tnt-block
          span.text-secondary You can track and manage your order at
          |  
          span
            nuxt-link.text-info(to="/profile/my-profile") My Account
          span.text-dark
          |  &raquo;
          |  
          span
            nuxt-link.text-info(to="/profile/my-orders") My Order
        .col-12.text-center.tnt-block
          nuxt-link.btn.btn-outline-secondary(to="/")
            i.fa.fa-shopping-cart
            |  Continue Shopping
    .col-md-4.tnt-block
      .tnt-content-sidebar.tnt-padding-20
        .row.tnt-block
          .col-12
            .tnt-sidebar-title
              .row.align-items-center
                h4.col-10 Order Summary
            .tnt-sidebar-content
              .row.tnt-block
                .col-6 Sub Total
                .col-6.text-right {{currency(invoice.subtotal)}}
              .row.tnt-block
                .col-6 Shipping Fee
                .col-6.text-right {{currency(invoice.shipping)}}
              .row.tnt-block
                .col-6 Tax
                .col-6.text-right {{currency(invoice.tax)}} ({{invoice.tax_percentage}}%)
              .row.tnt-block(v-if="!$_.isEmpty(invoice.couponse_code)")
                .col-6 Coupon 
                  span.text-success {{invoice.couponse_code}}
                .col-6.text-right {{currency(invoice.coupon_price)}}
              .row.tnt-block
                .col-6 Total
                .col-6.text-right.h6.text-danger {{currency(invoice.total)}}
</template>
<script>
import { currency } from '@/js/Utils/Utils'
import VueStep from 'vue-step'

export default {
  layout: 'no-slider',
  middleware: [
    'authenticated',
    'cartProcess'
  ],
  components: {
    VueStep
  },
  computed: {
    invoice() {
      return this.$store.state.cart.cart.finish
    }
  },
  data() {
    return {
      title: 'Order Successfully',
      stepOptions: {
        nowStep: 3,
        stepList: [
          'Shipping Options',
          'Payment',
          'Finish'
        ],
        styleType: 'style2'
      }
    }
  },
  methods: {
    currency(num) {
      return currency(num)
    }
  },
  head() {
    return {
      title: this.title
    }
  }
}
</script>
<style lang="scss" scoped>
  // Modules and Variables
  @import "../../scss/modules/colors";

  // Partials
  @import "../../scss/partials/sidebar";
  @import "../../scss/pages/cart/finish";
</style>
