<template lang="pug">
  .row(v-if="!$_.isEmpty(products)")
    b-modal(title="Cart Error", v-model="showModal", centered)
      p.text-danger(v-for="item in validateError.cartCheck") {{item}}
      div(slot="modal-footer")
        button.btn.btn-danger(type="button", @click="showModal = false") Close
    .col-md-8.tnt-block
      .row.tnt-block
        .col-12
          a(:href="ads.url")
            img.img-fluid(:src="ads.img", alt="")
      .row.tnt-block
        .col-12
          .table-responsive
            table.table
              thead.thead-dark
                tr
                  th
                  th Product Name
                  th Unit Price
                  th Quantity
                  th Sub Total
                  th
              tbody
                tr(v-for="item,i in products", :key="`${item.id}_${item.size}_${item.color}`", :class="changeBgState(item.state)")
                  td
                    nuxt-link(:to="`/products/${slugify(item.name)}/${item.id}`")
                      img(v-lazy="item.thumbnail", width="70")
                  td.align-middle
                    p.mb-2
                      nuxt-link(:to="`/products/${slugify(item.name)}/${item.id}`") {{item.name}}
                    p.d-flex.align-items-center
                      b-button.mr-2(size="sm", variant="dark", v-if="!$_.isNil(item.size)", disabled) {{item.size}}
                      span.tnt-color.mr-2(:style="`background-color: ${item.color};`", v-if="!$_.isNil(item.color)")
                      span(v-if="!$_.isNil(item.color)") {{item.colorName}}
                  td.align-middle {{numeral(!$_.isNil(item.price_discount) ? item.price_discount : item.price)}}
                  td.align-middle
                    Quantity(:min="item.max === 0 ? 0 : 1", :max="item.max", :value="item.quantity", :index="i", :disabled="item.max === 0", @change="quantityChange")
                  td.align-middle {{numeral(subTotalItem(!$_.isNil(item.price_discount) ? item.price_discount : item.price, item.quantity))}}
                  td.align-middle
                    button.btn.btn-link.tnt-btn-remove(type="button", @click="onRemoveItem(i)")
                      i.fa.fa-remove
                    div.tnt-productItem-state(:class="state[item.state].style", v-if="item.state !== 0") {{state[item.state].name}}
      .row.tnt-block
        .col-12.text-center
          nuxt-link.btn.btn-outline-secondary(to="/")
            i.fa.fa-shopping-cart
            |  Continue Shopping
    .col-md-4.tnt-block
      .tnt-content-sidebar.tnt-content-sidebar-error.tnt-padding-20(v-if="!shippingAddress || $_.isNil(tax)")
        .row.tnt-block
          .col-12
            .tnt-sidebar-title
              h4 Shipping & Billing
            .tnt-sidebar-content
              .row.tnt-block
                .col-12
                  p.tnt-ship-address.text-danger Your address is not available or not valid, please update your personal address before checkout
                  p
                    nuxt-link(to="/profile/my-profile") Click here!
      .tnt-content-sidebar.tnt-padding-20
        .row.tnt-block
          .col-12
            .tnt-sidebar-title
              .row.align-items-center
                h4.col-10 Order Summary
            .tnt-sidebar-content
              .row.tnt-block
                .col-6 Sub Total
                .col-6.text-right {{numeral(subTotal())}}
              .row.tnt-block(v-if="!$_.isNil(tax)")
                .col-6 Tax
                .col-6.text-right {{numeral(taxAmount())}} ({{tax}}%)
              .row.tnt-block(v-if="$_.isEmpty(coupon)")
                .col-7
                  input.form-control(:class="!$_.isEmpty(validateError.coupon) ? 'is-invalid' : ''", type="text", placeholder="Enter coupon", v-model="form.coupon")
                  .invalid-feedback {{validateError.coupon}}
                  .text-success.mt-2(v-if="couponPromotion") Please apply Coupon code 
                    b {{couponPromotion}} 
                    | In order to get extra {{numeral(10)}} off on any orders {{numeral(199.99)}} and UP.
                    span.text-danger.tnt-pointer(@click="form.coupon = couponPromotion", v-if="subTotal() >= 199.99")  Use now
                .col-5
                  button.btn.btn-success.btn-block(type="button", @click="checkCoupon") APPLY
              .row.tnt-block.align-items-center(v-else)
                .col-6 Coupon 
                  span.text-success {{coupon.coupon_code}}
                  button.btn.btn-link.tnt-btn-remove(type="button", @click="removeCoupon(coupon.coupon_code)") &times;
                .col-6.text-right -{{numeral(couponPrice)}}
              .row.tnt-block
                .col-6 Total
                .col-6.text-right.h6.text-danger {{numeral(total())}}
              .row.tnt-block
                .col-12
                  nuxt-link.btn.btn-success.btn-block(to="/profile/my-profile", v-if="!shippingAddress || $_.isNil(tax)") Update Address
                  button.btn.btn-success.btn-block(type="button", @click="onConfirm", v-else) Delivery Option
  .row(v-else)
    .col-12.tnt-no-item
      p.text-center.tnt-block There are no items in this cart
      p.text-center.tnt-block
        nuxt-link.btn.btn-dark(to="/") CONTINUE SHOPPING
</template>
<script>
import Quantity from '@/components/Quantity'
import numeral from 'numeral'
import Cart from '@/js/Models/Cart'
import { slugifyConvert as slugify } from '@/js/Utils/Utils'

export default {
  layout: 'no-slider',
  middleware: 'authenticated',
  components: {
    Quantity
  },
  async mounted() {
    const { data } = await this.cart.get()
    this.$store.commit('cart/setCart', data)
  },
  data() {
    return {
      title: 'My Cart',
      state: {
        0: {
          name: 'Stocking',
          style: 'tnt-productItem-state-0'
        },
        1: {
          name: 'Exceed',
          style: 'tnt-productItem-state-1'
        },
        2: {
          name: 'Sold Out',
          style: 'tnt-productItem-state-2'
        }
      },
      couponPrice: 0,
      form: {
        coupon: ''
      },
      validateError: {
        coupon: '',
        cartCheck: []
      },
      showModal: false,
      cart: new Cart(this)
    }
  },
  computed: {
    products() {
      return this.$store.state.cart.cart.products
    },
    coupon() {
      return this.$store.state.cart.cart.coupon
    },
    shippingAddress() {
      return this.$store.state.cart.cart.shippingAddress
    },
    tax() {
      return this.$store.state.cart.cart.tax
    },
    couponPromotion() {
      return this.$store.state.cart.cart.couponPromotion
    },
    ads() {
      return this.$_.isEmpty(this.$store.state.cart.cart.ads) ? {} : this.$store.state.cart.cart.ads[0]
    }
  },
  methods: {
    async quantityChange(quantity, index) {
      await this.cart.changeQuantity(index, quantity)
    },
    subTotalItem(price, quantity) {
      return price * quantity
    },
    subTotal() {
      let result = 0
      if(this.products.length > 0) {
        result = this.products.map(item => this.subTotalItem(!this.$_.isNil(item.price_discount) ? item.price_discount : item.price, item.quantity)).reduce((accumulator, currentValue) => accumulator + currentValue)

        if(this.coupon) {
          const calculator = this.cart.calculator(result, this.coupon.condition)
          if(!calculator.status) {
            this.removeCoupon(this.coupon.coupon_code)
            this.validateError.coupon = calculator.message
            this.$store.commit('cart/setCart', Object.assign({}, this.$store.state.cart.cart, {
              coupon: null
            }))
            return result
          }

          this.couponPrice = calculator.couponPrice
        }
      }
      return result
    },
    total() {
      return this.subTotal() + this.taxAmount() - this.couponPrice
    },
    async onRemoveItem(i) {
      await this.cart.remove(i)
    },
    taxAmount() {
      return !this.$_.isNil(this.tax) ? this.tax * this.subTotal() / 100 : 0
    },
    numeral(num) {
      return numeral(num).format('$0,0.00')
    },
    changeBgState(state) {
      switch(state) {
        case 1:
          return 'table-warning'
        case 2:
          return 'table-danger'
        default:
          return ''
      }
    },
    async onConfirm() {
      await this.cart.check().then(res => {
        this.$store.commit('cart/setStep', 2)
        this.$router.push('/cart/shipping')
      }).catch(err => {
        if(err.status === 400) {
          this.validateError.cartCheck = err.data.messages
          this.showModal = true
        }
      })
    },
    async checkCoupon() {
      this.validateError.coupon = ''

      if(this.subTotal() === 0) {
        this.validateError.coupon = 'Subtotal is not enough to use coupon'
        return
      }

      await this.cart.useCoupon(this.form.coupon, false).then(res => {
        const calculator = this.cart.calculator(this.subTotal(), res.data.data.condition)
        if(!calculator.status) {
          this.validateError.coupon = calculator.message
          return
        }

        this.useCoupon(this.couponPrice)
      }).catch(err => {
        const { data } = err
        this.validateError.coupon = data.message
      })
    },
    async useCoupon(couponPrice) {
      await this.cart.useCoupon(this.form.coupon, true).then(res => {
        this.couponPrice = couponPrice

        this.$store.commit('cart/setCart', Object.assign({}, this.$store.state.cart.cart, {
          coupon: res.data.data
        }))
      }).catch(err => {
        const { data } = err
        this.validateError.coupon = data.message
      })
    },
    async removeCoupon(coupon_code) {
      await this.cart.removeCoupon(coupon_code)
      this.$store.commit('cart/setCart', Object.assign({}, this.$store.state.cart.cart, {
        coupon: null
      }))
      this.form.coupon = ''
      this.couponPrice = 0
    },
    slugify(str) {
      return slugify(str)
    }
  },
  head() {
    return {
      title: this.title
    }
  }
}
</script>
<style lang="scss" scoped>
  // Modules and Variables
  @import "../../scss/modules/colors";
  @import "../../scss/modules/input";
  @import "../../scss/modules/button";
  @import "../../scss/modules/product";

  // Partials
  @import "../../scss/partials/sidebar";
  @import "../../scss/pages/cart/index";
</style>
