<template lang="pug">
  .row
    .col-md-8.tnt-block
      .row.tnt-block
        .col-12
          .tnt-index-1
            VueStep.tnt-vue-step(:now-step="stepOptions.nowStep", :step-list="stepOptions.stepList", :style-type="stepOptions.styleType")
      .row.justify-content-center.mb-3
        .col-md-6.col-sm-8.col-12
          .tnt-payment-area(ref="paypalButton")
      .row
        .col-12.text-center
          nuxt-link.btn.btn-outline-secondary(to="/cart/shipping")
            i.fa.fa-angle-left
            |  Back to shipping
    .col-md-4.tnt-block
      .tnt-content-sidebar.tnt-padding-20
        .row.tnt-block
          .col-12
            .tnt-sidebar-title
              h4 Shipping & Billing
            .tnt-sidebar-content
              .row.tnt-block
                .col-12
                  p.tnt-ship-to Ship to
                  p.tnt-ship-name {{shippingAddress.full_name}}
                  p.tnt-ship-address {{shippingAddress.address}}, {{shippingAddress.name_city}}
              .row.tnt-block(v-if="!$_.isEmpty(invoice.email_second)")
                .col-12
                  p.tnt-ship-email Additional recipient {{invoice.email_second}}
      .tnt-content-sidebar.tnt-padding-20
        .row.tnt-block
          .col-12
            .tnt-sidebar-title
              .row.align-items-center
                h4.col-10 Order Summary
            .tnt-sidebar-content
              .row.tnt-block
                .col-6 Sub Total
                .col-6.text-right {{currency(invoice.subtotal)}}
              .row.tnt-block
                .col-6 Shipping Fee
                .col-6.text-right {{currency(invoice.shipping)}}
              .row.tnt-block
                .col-6 Tax
                .col-6.text-right {{currency(invoice.tax)}} ({{invoice.tax_percentage}}%)
              .row.tnt-block(v-if="!$_.isEmpty(invoice.couponse_code)")
                .col-6 Coupon 
                  span.text-success {{invoice.couponse_code}}
                .col-6.text-right {{currency(invoice.coupon_price)}}
              .row.tnt-block
                .col-6 Total
                .col-6.text-right.h6.text-danger {{currency(invoice.total)}}
</template>
<script>
import '@/js/lib/checkout'
import { currency } from '@/js/Utils/Utils'
import VueStep from 'vue-step'

export default {
  layout: 'no-slider',
  middleware: [
    'authenticated',
    'cartProcess'
  ],
  components: {
    VueStep
  },
  async fetch({store, params, app, redirect}) {
    const { data } = await app.$axios.get('payment')
    if(!data.data.invoice) {
      redirect('/cart')
      return
    }
    return store.commit('cart/setPayment', data.data)
  },
  data() {
    return {
      title: 'Payment',
      stepOptions: {
        nowStep: 2,
        stepList: [
          'Shipping Options',
          'Payment',
          'Finish'
        ],
        styleType: 'style2'
      }
    }
  },
  computed: {
    shippingAddress() {
      return this.$store.state.cart.cart.payment.shippingAddress
    },
    invoice() {
      return this.$store.state.cart.cart.payment.invoice
    }
  },
  mounted() {
    paypal.Button.render({
      env: process.env.paypalEnv,
      payment: (data, actions) => {
        return this.$axios.post('paypal_create', {
          idInvoice: this.invoice.id
        }).then(res => {
          return res.data.data.id
        })
      },
      onAuthorize: (data, actions) => {
        return this.$axios.post('paypal_execute', {
          paymentId: data.paymentID,
          payerId:   data.payerID,
          idInvoice: this.invoice.id
        }).then(res => {
          if(res.data.status) {
            this.$store.commit('cart/setStep', 4)
            this.$store.commit('cart/setFinish', res.data.data)
            this.$store.commit('cart/setCount', 0)
            this.$router.push('/cart/finish')
          } else {
            this.$notify({
              title: 'Notification',
              text: 'Payment error.',
              type: 'error'
            })
          }
        })
      },
      locale: 'en_US',
      style: {
        color: 'black',
        size: 'responsive',
        tagline: false,
        fundingicons: true
      }
    }, this.$refs.paypalButton)
  },
  methods: {
    currency(num) {
      return currency(num)
    }
  },
  head() {
    return {
      title: this.title
    }
  }
}
</script>
<style lang="scss" scoped>
  // Modules and Variables
  @import "../../scss/modules/colors";
  @import "../../scss/modules/input";
  @import "../../scss/modules/button";
  @import "../../scss/modules/product";

  // Partials
  @import "../../scss/partials/sidebar";
  @import "../../scss/pages/cart/payment";
</style>

