<template lang="pug">
  div.tnt-col(:class="cols ? colsData[cols] : colsData[4]")
    .tnt-productItem
      span.tnt-productItem-iconSale(v-if="!$_.isNil(value.price_discount)") -{{countPercentSell(value.price, value.price_discount)}}%
      span.tnt-productItem-state(:class="state[value.state].style", v-if="value.state") {{state[value.state].name}}
      .tnt-productItem-img
        img.img-fluid.tnt-img-vitual(v-lazy="value.thumbnail", :alt="value.name")
        img.img-fluid(v-lazy="value.thumbnail", :alt="value.name")
        .tnt-productItem-hover
          button.tnt-productItem-actionItem.tnt-productItem-btnAdd(type="button", v-if="value.state !== 2", @click="addToCart(value.id, value.size, value.color)", ref="btnAdd")
            i.fa.fa-cart-plus
              span Add to Cart
          button.tnt-productItem-actionItem.tnt-productItem-btnWishlist(type="button", @click="addToFavorite(value.id)")
            i.fa.fa-heart
              span Add to Wishlist
          button.tnt-productItem-actionItem.tnt-productItem-btnPreview(type="button", @click="$router.push(`/products/${slugify(value.name)}/${value.id}`)")
            i.fa.fa-eye
              span Preview
      nuxt-link(:to="`/products/${slugify(value.name)}/${value.id}`")
        .tnt-productItem-content
          p.tnt-productItem-title(v-line-clamp:20="2") {{value.name}}
          p.tnt-productItem-price
            span.tnt-productItem-disCount {{currency(!$_.isNil(value.price_discount) ? value.price_discount : value.price)}}
            span.tnt-productItem-rootPrice {{!$_.isNil(value.price_discount) ? `${currency(value.price)}` : ''}}
          StartRate(:rate="value.rate", :size="3")
</template>
<script>
import StartRate from '@/components/StarRate'
import Cart from '@/js/Models/Cart'
import Product from '@/js/Models/Product'
import numeral from 'numeral'
import { slugifyConvert as slugify } from '@/js/Utils/Utils'

export default {
  props: [
    'value',
    'cols'
  ],
  components: {
    StartRate
  },
  data() {
    return {
      state: {
        0: {
          name: 'Stocking',
          style: 'tnt-productItem-state-0'
        },
        1: {
          name: 'Almost Gone',
          style: 'tnt-productItem-state-1'
        },
        2: {
          name: 'Sold Out',
          style: 'tnt-productItem-state-2'
        }
      },
      colsData: {
        0: '',
        1: 'col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12',
        2: 'col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6',
        3: 'col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6',
        4: 'col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6',
        6: 'col-xl-2 col-lg-2 col-md-3 col-sm-6 col-6'
      },
      cart: new Cart(this),
      product: new Product(this)
    }
  },
  methods: {
    currency(num) {
      return numeral(num).format('$0,0.00')
    },
    countPercentSell(price, price_discount) {
      return Math.ceil((price - price_discount) / price * 100)
    },
    async addToFavorite(id) {
      if(!this.$store.state.auth) {
        this.$router.push('/login')
        return
      }
      const res = await this.product.addFavorite(id)
      this.$notify({
        title: 'Notification',
        text: res.message,
        type: 'success'
      })
    },
    async addToCart(id, size, color) {
      if(!this.$store.state.auth) {
        this.$router.push('/login')
        return
      }
      await this.cart.add(id, size, color, 1)
      const img = this.$refs.btnAdd.closest('.tnt-productItem-img').querySelector('img')
      img.classList.add('tnt-add-anim')
      img.addEventListener('webkitAnimationEnd', () => {
        img.classList.remove('tnt-add-anim')
      }, false)
    },
    slugify(str) {
      return slugify(str)
    }
  }
}
</script>
<style lang="scss" scoped>
  // Modules and Variables
  @import "../../scss/modules/colors";

  // Style
  @import "../../scss/partials/base";

  .tnt-col {
    transition: all .5s linear;
  }

  .tnt-productItem {
    position: relative;
    z-index: 0;
    margin-bottom: 30px;
    overflow: hidden;
    box-shadow: 0 0 1px $color-dddddd;
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 5px $color-cccccc;

      .tnt-productItem-actionItem {
        transform: translateX(0);
      }
    }
  }

  .tnt-productItem-iconSale {
    position: absolute;
    z-index: 2;
    background-color: $color-e34444;
    color: $color-ffffff;
    font-size: 10px;
    padding: 3px 15px;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

  .tnt-productItem-img {
    position: relative;
    z-index: 0;
    text-align: center;

    img {
      height: 170px;
    }
  }

  .tnt-productItem-hover {
    position: absolute;
    top: 50%;
    left: 10px;
    z-index: 2;
    transform: translateY(-50%);
    transition: all 0.3s ease 0.1s;
  }

  .tnt-productItem-actionItem {
    display: block;
    padding: 0 10px;
    width: 30px;
    height: 30px;
    background-color: $color-666666;
    border: none;
    color: $color-ffffff;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease-in-out 0s;
    transform: translateX(-150%);
    overflow: hidden;
    outline: 0;

    &:hover {
      background-color: $color-e34444;
      transition: all 0.3s ease-in-out 0s;
      width: auto;

      span {
        transform: translateX(0);
      }
    }

    &:not(:last-child) {
      margin-bottom: 5px;
    }

    i {
      display: flex;
      align-items: center;
    }

    span {
      font-family: $base-font-family;
      margin-left: 10px;
      white-space: nowrap;
      transition: all 0.3s ease-in-out 0s;
      transform: translateX(100%);
      display: inline-block;
    }
  }

  .tnt-productItem-btnAdd {
    transition-delay: 0.1s;
  }

  .tnt-productItem-btnWishlist {
    transition-delay: 0.2s;
  }

  .tnt-productItem-btnPreview {
    transition-delay: 0.3s;
  }

  .tnt-productItem-content {
    padding: 10px;
  }

  .tnt-productItem-title {
    font-size: 14px;
  }

  .tnt-productItem-disCount {
    color: $color-f57224;
    font-size: 16px;
    margin-right: 10px;
  }

  .tnt-productItem-rootPrice {
    font-size: 12px;
    text-decoration: line-through;
  }

  .tnt-productItem-state {
    position: absolute;
    text-align: center;
    bottom: 18px;
    right: -22px;
    color: $color-ffffff;
    padding: 5px;
    width: 100px;
    font-size: 8px;
    text-transform: uppercase;
    transform: rotate(-45deg);
    z-index: 1;

    &-0 {
      background-color: $color-67c23a;
    }

    &-1 {
      background-color: $color-e6a23c;
    }

    &-2 {
      background-color: $color-f56c6c;
    }
  }

  .tnt-img-vitual {
    position: absolute;
    width: 100%;
    transform: scale(0);
  }

  .tnt-add-anim {
    animation: add-cart 1s;
    border-radius: 50%;
    bottom: 0;
    left: 0;
    width: 100px !important;
    height: 100px !important;
    border: 1px solid $color-333333;
  }

  @keyframes add-cart {
    0% {
      transform: scale(1) rotate(0deg);
    }

    100% {
      bottom: 100%;
      left: 100%;
      transform: scale(0) rotate(360deg);
    }
  }

  // Medium devices (tablets, less than 992px)
  @media (max-width: 991.98px) {
    .tnt-productItem-img img {
      height: 130px;
    }
  }
</style>
