<template lang="pug">
  ul.tnt-product-list
    ListItem(v-for="item,i in list", :key="i", :value="item")
</template>
<script>
import ListItem from '@/components/products/ListItem'

export default {
  props: [
    'list'
  ],
  components: {
    ListItem
  }
}
</script>
<style lang="scss" scoped>
  // Modules and Variables
  @import "../../scss/modules/colors";
</style>
