<template lang="pug">
  li.tnt-productItem
    span.tnt-productItem-state(:class="state[value.state].style", v-if="value.state") {{state[value.state].name}}
    .tnt-productItem-img
      nuxt-link(:to="`/products/${slugify(value.name)}/${value.id}`")
        img.img-fluid(v-lazy="value.thumbnail", :alt="value.name")
    .tnt-productItem-content
      p.tnt-productItem-title
        nuxt-link(:to="`/products/${slugify(value.name)}/${value.id}`") {{value.name}}
      h5.tnt-productItem-price {{currency(!$_.isNil(value.price_discount) ? value.price_discount : value.price)}}
      p.tnt-productItem-sale
        span.tnt-productItem-rootPrice {{!$_.isNil(value.price_discount) ? `${currency(value.price)}` : ''}}
        span.tnt-productItem-percent -{{countPercentSell(value.price, value.price_discount)}}%
      a.tnt-productItem-add(href="javascript:void(0)", @click="addToCart(value.id, value.size, value.color)", v-if="value.state < 2")
        i.fa.fa-cart-plus
        | Add to Cart
</template>
<script>
import Cart from '@/js/Models/Cart'
import numeral from 'numeral'
import { slugifyConvert as slugify } from '@/js/Utils/Utils'

export default {
  props: [
    'value'
  ],
  data() {
    return {
      state: {
        0: {
          name: 'Stocking',
          style: 'tnt-productItem-state-0'
        },
        1: {
          name: 'Almost Gone',
          style: 'tnt-productItem-state-1'
        },
        2: {
          name: 'Sold Out',
          style: 'tnt-productItem-state-2'
        }
      },
      cart: new Cart(this)
    }
  },
  methods: {
    currency(num) {
      return numeral(num).format('$0,0.00')
    },
    countPercentSell(price, price_discount) {
      return Math.ceil((price - price_discount) / price * 100)
    },
    async addToCart(id, size, color) {
      if(!this.$store.state.auth) {
        this.$router.push('/login')
        return
      }
      await this.cart.add(id, size, color, 1)
    },
    slugify(str) {
      return slugify(str)
    }
  }
}
</script>
<style lang="scss" scoped>
  // Modules and Variables
  @import "../../scss/modules/colors";

  // Style
  .tnt-productItem {
    display: flex;
    position: relative;
    overflow: hidden;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  .tnt-productItem-img {
    flex: 2;
    margin-right: 15px;

    img {
      border: 1px solid $color-eaeaea;
      padding: 10px;

      &:hover {
        border-color: $color-e34444;
      }
    }
  }

  .tnt-productItem-content {
    flex: 3;
  }

  .tnt-productItem-title {
    margin-bottom: 5px;
    font-size: 13px;
  }

  .tnt-productItem-price {
    color: $color-f57224;
    font-size: 16px;
    margin-bottom: 5px;
  }

  .tnt-productItem-sale {
    margin-bottom: 5px;
  }

  .tnt-productItem-rootPrice {
    font-size: 12px;
    text-decoration: line-through;
  }

  .tnt-productItem-percent {
    margin-left: 10px;
    font-size: 12px;
  }

  .tnt-productItem-add {
    text-transform: uppercase;
    font-weight: bold;

    i {
      margin-right: 5px;
    }
  }

  .tnt-productItem-state {
    position: absolute;
    text-align: center;
    top: 18px;
    left: -22px;
    color: $color-ffffff;
    padding: 2px;
    width: 100px;
    font-size: 8px;
    text-transform: uppercase;
    transform: rotate(-45deg);
    z-index: 1;

    &-0 {
      background-color: $color-67c23a;
    }

    &-1 {
      background-color: $color-e6a23c;
    }

    &-2 {
      background-color: $color-f56c6c;
    }
  }
</style>
