<template lang="pug">
  .row
    .col-12
      .tnt-tab-title
        .row
          .col-6
            h4 My Profile
          .col-6.text-right
            a(href="javascript:void(0)", @click="tabSelect('change-password')") Change password
    .col-12
      .row
        form.col-md-6
          .form-group.row
            label.col-sm-3.col-form-label(for="firstName") First Name
              span.text-danger  (*)
            .col-sm-9
              input#firstName.form-control(v-validate="'required'", name="first_name", type="text", v-model="form.first_name", :class="validate('first_name') ? 'is-invalid' : ''")
              .invalid-feedback {{validate('first_name')}}
          .form-group.row
            label.col-sm-3.col-form-label(for="lastName") Last Name
              span.text-danger  (*)
            .col-sm-9
              input#lastName.form-control(v-validate="'required'", name="last_name", type="text", v-model="form.last_name", :class="validate('last_name') ? 'is-invalid' : ''")
              .invalid-feedback {{validate('last_name')}}
          .form-group.row
            label.col-sm-3.col-form-label(for="birthDay") Birthday
            .col-sm-9
              input#birthDay.form-control(v-validate="'date_format:YYYY-MM-DD'", v-mask="'####-##-##'", type="text", name="birthday", v-model="form.birthday", placeholder="YYYY-MM-DD", :class="validate('birthday') ? 'is-invalid' : ''")
              .invalid-feedback {{validate('birthday')}}
          .form-group.row
            label.col-sm-3.col-form-label(for="address1") Address Line 1
              span.text-danger  (*)
            .col-sm-9
              input#address1.form-control(v-validate="'required'", name="street_address", type="text", v-model="form.street_address", :class="validate('street_address') ? 'is-invalid' : ''")
              .invalid-feedback {{validate('street_address')}}
          .form-group.row
            label.col-sm-3.col-form-label(for="address2") Address Line 2
            .col-sm-9
              input#address2.form-control(type="text", name="address_line_2", v-model="form.address_line_2", :class="validate('address_line_2') ? 'is-invalid' : ''")
              .invalid-feedback {{validate('address_line_2')}}
          .form-group.row
            label.col-sm-3.col-form-label(for="zipCode") Zip Code
              span.text-danger  (*)
            .col-sm-9
              input#zipCode.form-control(v-validate="'required'", name="zipcode", type="text", v-model="form.zipcode", :class="validate('zipcode') ? 'is-invalid' : ''")
              .invalid-feedback {{validate('zipcode')}}
        .col-md-6
          .form-group.row
            label.col-sm-3.col-form-label(for="phone") Phone
            .col-sm-9
              input#phone.form-control(type="text", name="phone", v-mask="'###-###-####'", v-model="form.phone", disabled, :class="validate('phone') ? 'is-invalid' : ''")
              .invalid-feedback {{validate('phone')}}
          .form-group.row
            label.col-sm-3.col-form-label(for="email") Email
            .col-sm-9
              input#email.form-control(type="text", name="email", v-model="form.email", disabled, :class="validate('email') ? 'is-invalid' : ''")
              .invalid-feedback {{validate('email')}}
          .form-group.row
            label.col-sm-3.col-form-label(for="network") Carrier
              span.text-danger  (*)
            .col-sm-9
              select#network.form-control(v-validate="'required'", name="domain_network", v-model="form.domain_network", :class="validate('domain_network') ? 'is-invalid' : ''")
                option(value="") ---Provider---
                option(:value="item.domain_network", v-for="item in dataNetwork") {{item.name_network}}
              .invalid-feedback {{validate('domain_network')}}
          .form-group.row
            label.col-sm-3 Gender
            .col-sm-9
              .form-check.form-check-inline
                input#genderMale.form-check-input(type="radio", name="gender", value="1", v-model="form.gender")
                label.form-check-label(for="genderMale") Male
              .form-check.form-check-inline
                input#genderFemale.form-check-input(type="radio", name="gender", value="0", v-model="form.gender")
                label.form-check-label(for="genderFemale") Female
              .invalid-feedback {{validate('gender')}}
          .form-group.row
            label.col-sm-3.col-form-label(for="state") State Province
              span.text-danger  (*)
            .col-sm-9
              select#state.form-control(v-validate="'required'", name="state_province", v-model="form.state_province", @change="onChangeStateProvice", :class="validate('state_province') ? 'is-invalid' : ''")
                option(value="") ---Select---
                option(:value="item.code", v-for="item in dataState") {{item.name}}
              .invalid-feedback {{validate('state_province')}}
          .form-group.row
            label.col-sm-3.col-form-label(for="city") City
              span.text-danger  (*)
            .col-sm-9
              select#city.form-control(v-validate="'required'", name="city", v-model="form.city", :class="validate('city') ? 'is-invalid' : ''")
                option(value="") ---Select---
                option(:value="item.id", v-for="item in dataCity") {{item.name}}
              .invalid-feedback {{validate('city')}}
      .row
        .col-md-5
        .col-md-2
          button.btn.btn-success.btn-block(type="button", @click="onUpdateProfile", :disabled="!this.$_.isEmpty(errors.items)") Update
        .col-md-5
</template>
<script>
export default {
  props: {
    value: {
      type: Object,
      required: true
    }
  },
  computed: {
    dataNetwork() {
      return this.$store.state.register.network
    },
    dataState() {
      return this.$store.state.constant.state
    },
    dataCity() {
      return this.$store.state.constant.city
    },
    user() {
      return this.$store.state.user.user
    }
  },
  data() {
    return {
      tmpValue: this.value,
      form: {},
      validateError: {}
    }
  },
  async mounted () {
    if(this.$_.isEmpty(this.dataNetwork)) {
      const fieldsCarrier = ['domain_network', 'name_network']
      const carrier = await this.$axios.get(`/carrier?fields=${fieldsCarrier.join(',')}`)
      this.$store.commit('register/add', carrier.data.data)
    }

    const fieldsUser = ['last_name', 'first_name', 'gender', 'phone', 'email', 'birthday', 'street_address', 'address_line_2', 'city', 'state_province', 'zipcode', 'domain_network']
    const user = await this.$axios.get(`/user?fields=${fieldsUser.join(',')}`)
    this.form = Object.assign({}, this.form, user.data.data)

    if(this.$_.isEmpty(this.dataState)) {
      const state = await this.$axios.get('state')
      this.$store.commit('constant/addState', state.data.data)
    }

    if(!this.$_.isEmpty(this.form.state_province)) {
      const city = await this.$axios.get(`city?stateCode=${this.form.state_province}`)
      this.$store.commit('constant/addCity', city.data.data)
    }
  },
  methods: {
    async onChangeStateProvice() {
      const city = await this.$axios.get(`city?stateCode=${this.form.state_province}`)
      this.form.city = ''
      return this.$store.commit('constant/addCity', city.data.data)
    },
    onUpdateProfile() {
      this.validateError = {}
      const {
        first_name, last_name, birthday, street_address, address_line_2,
        zipcode, domain_network, gender, state_province, city
      } = this.form
      this.$axios.post('user', {
        first_name, last_name, birthday, street_address, address_line_2,
        zipcode, domain_network, gender, state_province, city
      }).then(res => {
        const data = res.data
        if(data.status) {
          this.$store.dispatch('user/addUser', Object.assign({}, this.$store.state.user.user, {
            first_name,
            last_name,
            street_address
          }))
          this.$notify({
            title: 'Notification',
            text: data.message,
            type: 'success'
          })
        } else {
          this.$notify({
            title: 'Notification',
            text: data.message,
            type: 'error'
          })
        }
      }).catch(err => {
        const { status, data } = err.response
        if(status === 400) {
          this.validateError = data.data
        }
      })
    },
    tabSelect(component) {
      this.$router.push(`/profile/${component}`)
    },
    validate(fields) {
      if(this.validateError[fields]) {
        return this.validateError[fields]
      }
      
      if(this.errors.has(fields)) {
        return this.errors.first(fields)
      }

      return null
    }
  }
}
</script>
<style lang="scss" scoped>
  // Modules and Variables
  @import "../../../scss/modules/colors";
  @import "../../../scss/modules/input";
  @import "../../../scss/modules/button";
  @import "../../../scss/modules/tabs";
</style>
