<template lang="pug">
  .row
    .col-12
      .tnt-tab-title
        h4 Vouchers
    .col-12
      .table-responsive
        table.table
          thead.thead-dark
            tr
              th Active
              th Used
              th Coupon code
              th Valid From
              th Valid Until
              th Value
          tbody(v-if="!$_.isEmpty(listCoupon)")
            tr(v-for="item,i in listCoupon", :key="i", :class="!item.status_active || item.status_use ? 'table-active' : ''")
              td {{convertStatusToText(item.status_active)}}
              td {{convertStatusToText(item.status_use)}}
              td {{item.coupon_code}}
                a.tnt-coppy(href="javascript:void(0)", @click="copyCoupon(item.coupon_code)")
                  i.fa.fa-clipboard
              td {{item.start_date}}
              td {{item.expiration_date}}
              td {{getValueCoupon(item.conditions)}}
          tbody(v-else)
            tr
              td.text-center(colspan="6") You have no vouchers yet.
</template>
<script>
import copy from 'clipboard-copy'
import { currency } from '@/js/Utils/Utils'

export default {
  async mounted() {
    const { data } = await this.$axios.get('usercoupon')
    this.listCoupon = data.data
  },
  data() {
    return {
      listCoupon: []
    }
  },
  methods: {
    copyCoupon(text) {
      copy(text)
      this.$notify({
        text: 'Copy successfully.',
        type: 'success'
      })
    },
    convertStatusToText(status) {
      return status ? 'YES' : 'NO'
    },
    getValueCoupon(conditions) {
      return conditions.price ? currency(conditions.price) : `${conditions.percent}%`
    }
  }
}
</script>
<style lang="scss" scoped>
  // Modules and Variables
  @import "../../../scss/modules/colors";
  @import "../../../scss/modules/input";
  @import "../../../scss/modules/button";
  @import "../../../scss/modules/tabs";

  //Styles
  .tnt-coppy {
    margin-left: 10px;
    font-size: 16px;
  }
</style>
