<template lang="pug">
  .row(v-if="!$_.isEmpty(options) && !$_.isEmpty(value)")
    .col-sm-6.col-12.tnt-block
      .row
        .col-sm-12.col-12.tnt-block(v-for="item,i in options", :key="item.id")
          label.tnt-shipping-item
            input(type="radio", :value="item.id", v-model="value.id", @change="handleChangeParent()")
            .tnt-shipping-icon
              i.fa.fa-2x(:class="item.icon ? item.icon : 'fa-truck'", v-if="$_.isNil(item.logo)")
              img(:src="item.logo", v-else, height="32", width="32")
            .tnt-shipping-description
              h4 {{ item.text }}
    .col-sm-6.col-12.tnt-block
      .tnt-option(v-if="findOption(value.id) > -1")
        .row
          label.col-md-12.col-sm-12.col-12.tnt-option-item(v-for="item,i in options[findOption(value.id)].options", :key="item.id")
            input.tnt-option-radio(type="radio", :value="item.id", v-model="value.rate", @change="handleChangeChild(i)")
            span.tnt-option-label {{item.service}} 
            span.text-success ({{currency(item.rate)}})
            span  - 
            span About {{item.estDeliveryDays}} days
  .row(v-else)
    .col-12.text-danger Did not find any rate that matches the selected address,please changes address delivery
</template>
<script>
import numeral from 'numeral'

export default {
  props: {
    options: {
      type: Array,
      required: true
    },
    value: {
      type: Object,
      required: true
    }
  },
  methods: {
    currency(num) {
      return numeral(num).format('$0,0.00')
    },
    handleChangeParent() {
      const parentIndex = this.$_.findIndex(this.options, item => item.id === this.value.id)
      this.value.rate = this.options[parentIndex].options[0].id
      this.value.shipmentId = this.options[parentIndex].options[0].shipmentId
    },
    handleChangeChild(i) {
      const parentIndex = this.$_.findIndex(this.options, item => item.id === this.value.id)
      this.value.shipmentId = this.options[parentIndex].options[i].shipmentId
    },
    findOption(id) {
      return this.options.findIndex(item => item.id === id)
    }
  }
}
</script>
<style lang="scss" scoped>
  // Modules and Variables
  @import '../../scss/modules/_colors.scss';

  // Style
  .tnt-shipping-item {
    cursor: pointer;
    align-items: center;
    border: 1px solid $color-eaeaea;
    display: flex;
    padding: 15px 10px;

    &:hover {
      border: 1px solid $color-e34444;
    }

    input {
      visibility: hidden;
      &:checked ~ .tnt-shipping-description {
        &::before {
          content: '\f00c';
        }
      }
    }
  }

  .tnt-shipping-icon {
    position: relative;
    margin-right: 10px;
  }

  .tnt-shipping-description {
    flex: 1;
    position: relative;
    text-align: center;

    h4 {
      font-size: 20px;
    }

    &::before {
      content: none;
      position: absolute;
      bottom: -10px;
      right: 0px;
      font-family: FontAwesome;
    }
  }

  .tnt-option-item {
    display: block;
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  .tnt-option-radio {
    margin-right: 10px;
  }

  // // Extra small devices (portrait phones, less than 576px)
  // @media (max-width: 575.98px) {
  //   .tnt-block-item {
  //     &:not(:last-child) {
  //       margin-bottom: 20px;
  //     }
  //   }
  // }

  // // Small devices (landscape phones, 576px and up)
  // @media (min-width: 576px) {
  //   .tnt-block {
  //     &:not(:last-child) {
  //       margin-bottom: 20px;
  //     }
  //   }
  // }
</style>
