$color-ffffff: #FFF;

$color-000000: #000;

$color-222222: #222;

$color-333333: #333;

$color-666666: #666;

$color-aaaaaa: #aaa;

$color-bbbbbb: #bbb;

$color-cccccc: #ccc;

$color-dddddd: #DDD;

$color-eeeeee: #EEE;

$color-f8f8f6: #F8F8F6;

$color-eaeaea: #eaeaea;

$color-e34444: #e34444;

$color-f57224: #f57224;

$color-4267b2: #4267b2;

$color-29487d: #29487d;

$color-ffc107: #ffc107;

$color-f0ad4e: #f0ad4e;

$color-67c23a: #67C23A;

$color-e6a23c: #E6A23C;

$color-f56c6c: #F56C6C;

$color-409eff: #409EFF;

$color-909399: #909399;

$color-d2b8b9: #D2B8B9;

$color-a9a2a9: #A9A2A9;

$color-61667a: #61667A;

$color-5f566b: #5F566B;

$color-3a3b57: #3A3B57;

$color-aa4b6b: #aa4b6b;

$color-6b6b83: #6b6b83;

$color-3b8d99: #3b8d99;

$color-c31432: #c31432;

$color-ba5370: #BA5370;

$color-f4e2d8: #F4E2D8;

$color-4d4d4d: #4D4D4D;

$color-f7ebeb: #f7ebeb;

$color-f5f5f5: #f5f5f5;

$opacity-000000-1: rgba(0, 0, 0, 0.1);

$opacity-000000-2: rgba(0, 0, 0, 0.2);

$opacity-000000-3: rgba(0, 0, 0, 0.3);

$opacity-000000-4: rgba(0, 0, 0, 0.4);

$opacity-000000-5: rgba(0, 0, 0, 0.5);

$opacity-000000-6: rgba(0, 0, 0, 0.6);

$opacity-000000-7: rgba(0, 0, 0, 0.7);

$opacity-000000-8: rgba(0, 0, 0, 0.8);

$opacity-000000-9: rgba(0, 0, 0, 0.9);

$opacity-ffffff-1: rgba(255, 255, 255, 0.1);

$opacity-ffffff-2: rgba(255, 255, 255, 0.2);

$opacity-ffffff-3: rgba(255, 255, 255, 0.3);

$opacity-ffffff-4: rgba(255, 255, 255, 0.4);

$opacity-ffffff-5: rgba(255, 255, 255, 0.5);

$opacity-ffffff-6: rgba(255, 255, 255, 0.6);

$opacity-ffffff-7: rgba(255, 255, 255, 0.7);

$opacity-ffffff-8: rgba(255, 255, 255, 0.8);

$opacity-ffffff-9: rgba(255, 255, 255, 0.9);