.fa-ul {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-left: 42px;

  li {
    position: relative;
    min-height: 34px;
    display: flex;
    align-items: center;
  }
}

.fa-li {
  width: 34px;
  height: 34px;
  background: #fff;
  border: 1px solid #eaeaea;
  border-radius: 100%;
  left: -45px;
  line-height: 30px;
  color: #888888;
  font-size: 13px;
  top: 4px;
  position: absolute;
  text-align: center;
}