.tnt-pagination {
  border-top: 1px solid $color-eaeaea;
}

.tnt-amount {
  color: $color-666666;
  padding: 10px;
}

.tnt-page-item {
  display: inline-block;

  a {
    display: block;
    padding: 10px;

    &:hover {
      color: $color-e34444;
    }
  }

  &.is-active {
    a {
      color: $color-e34444;
    }
  }
}