.tnt-product:not(:last-child) {
  margin-bottom: 35px;
}

.tnt-product-title {
  margin-bottom: 25px;
  position: relative;
  display: block;

  &::before {
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    background-color: $color-e34444;
    content: "";
    left: 0;
    bottom: 0;
    z-index: -1;
  }

  h3 {
    background-color: $color-e34444;
    color: $color-ffffff;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    display: inline-block;
  }
}

.tnt-product-content {
  margin-bottom: 20px;
}

.tnt-product-card {
  margin-bottom: 30px;
  border: none;
  cursor: pointer;
  position: relative;

  &:hover {
    & .tnt-product-hover {
      display: flex;
    }
  }
}

.tnt-product-hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $opacity-000000-3;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tnt-product-hover-area {
  border-left: 1px solid $color-ffffff;
  border-right: 1px solid $color-ffffff;
  border-bottom: 1px solid $color-ffffff;

  &:first-child {
    border-top: 1px solid $color-ffffff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  &:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

.tnt-product-hover-icon {
  font-size: 20px;
  padding: 5px 0;
  text-align: center;
  width: 50px;
  display: inline-block;

  &:not(:last-child) {
    border-right: 1px solid $color-ffffff;
  }

  &>a {
    color: $color-ffffff;

    &:hover {
      color: $color-e34444;
    }
  }

  &:hover {
    &>a {
      color: $color-e34444;
    }
  }
}

.tnt-product-price {
  color: $color-f57224;
  font-size: 16px;
}

.tnt-product-rootPrice {
  font-size: 12px;
  text-decoration: line-through;
}

.tnt-product-sale {
  margin-left: 10px;
  font-size: 12px;
}

.tnt-product-media {
  cursor: pointer;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &:hover {
    background-color: $color-eaeaea;
  }
}

.tnt-product-media-title {
  margin-bottom: 5px;
  font-size: 13px;
}