<template lang="pug">
  .fb-customerchat(attribution="setup_tool", page_id="2275460632540381", theme_color="#ff5ca1")
</template>
<script>
export default {
  created() {
    return (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  },
  mounted() {
    window.fbAsyncInit = function() {
      FB.init({
        appId      : process.env.fbAppId,
        cookie     : true,
        xfbml      : true,
        version    : 'v3.2'
      });
    };
  },
  // created() {
    // var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    //   (function(){
    //   var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    //   s1.async=true;
    //   s1.src='https://embed.tawk.to/5c7e4753a726ff2eea5aaade/default';
    //   s1.charset='UTF-8';
    //   s1.setAttribute('crossorigin','*');
    //   s0.parentNode.insertBefore(s1,s0);
    // })();
  // }
}
</script>
