<template lang="pug">
  .tnt-header(ref="header")
    .tnt-header-topbar.d-flex.align-items-center.container
        .tnt-header-action.d-flex.align-items-center
          .tnt-header-open
              a(href="javascript:void(0)", @click="mainMenu = true") &#9776;
          .tnt-topbar-logo
              img(src="/images/logo.png", @click="onRedirect('/')")
          .tnt-search-wrap.d-none.d-lg-flex
              form.tnt-search-form(@submit.prevent="onSearch")
                input.tnt-search-input(type="text", name="q", v-model="form.search", placeholder="Find Products...")
                button.tnt-search-btn(type="submit")
                  i.fa.fa-search   
        .tnt-header-userarea
          .tnt-header-user.text-right
            nuxt-link.tnt-shopcart(to="/cart")
              i.fa.fa-shopping-cart.fa-2x 
                span.tnt-shopcart-noti {{cartCount > 9 ? '9+' : cartCount}}
            nuxt-link.tnt-header-search(to="/search")
              i.fa.fa-search.fa-2x
            span.line-divide.d-none
            .tnt-overlay(:class="navMenu ? 'is-active' : ''", @click="navMenu = false")
            a(href="javascript:void(0)").tnt-user-btn(@click="navMenu = true")
              i.fa.fa-user.fa-2x 
            nuxt-link.tnt-user-menu(to="/profile/my-profile", v-if="$store.state.auth")
              i.fa.fa-user.fa-2x 
              span.username.d-none {{ !$_.isEmpty(user) ? `${user.first_name} ${user.last_name}` : 'My Account'}}
              i.tnt-user-btn.fa.fa-caret-down
              ul.tnt-menu-user(:class="navMenu ? 'is-active' : ''")
                li.tnt-mainmenu-item.text-left
                  nuxt-link(to="/profile/my-profile")
                    i.fa.fa-user
                    |  My Profile
                li.tnt-mainmenu-item.text-left
                  nuxt-link(to="/profile/view-history")
                    i.fa.fa-history
                    |  View History
                li.tnt-mainmenu-item.text-left
                  nuxt-link(to="/profile/my-wishlist")
                    i.fa.fa-heart
                    |  My Wishlist
                li.tnt-mainmenu-item.text-left
                  nuxt-link(to="/logout")
                    i.fa.fa-key
                    |  Logout
            nuxt-link.tnt-user-menu(to="/login", v-else)
              i.fa.fa-user.fa-2x
              span.username.d-none Login/Register
              i.fa.fa-caret-down
              ul.tnt-menu-user(:class="navMenu ? 'is-active' : ''")
                li.tnt-mainmenu-item.text-left
                  nuxt-link(to="/profile/view-history")
                    i.fa.fa-history
                    |  View History
                li.tnt-mainmenu-item.text-left
                  nuxt-link(to="/login")
                    i.fa.fa-key
                    |  Login/Register          
    .tnt-header-menu(:class="mainMenu ? 'is-active' : ''")
      .tnt-overlay(:class="mainMenu ? 'is-active' : ''", @click="mainMenu = false")
      ul.tnt-menu-header(:class="mainMenu ? 'is-active' : ''")
        li.tnt-mainmenu-item
          nuxt-link(to="/")
            i.tnt-mainmenu-icon.fa.fa-home
            |  Home
        li.tnt-mainmenu-item
          a(:class="mainMenuOpen === 2 ? 'is-open' : ''",href="javascript:void(0)", @click="onMainMenuOpen(2)") 
            i.tnt-mainmenu-icon.fa.fa-list-ul
            |  Categories
          ul.tnt-header-submenu(:class="mainMenuOpen === 2 ? 'is-open' : ''", ref="menu", v-on:mouseover="(event)=>onHoverMenu(event)")
            li.tnt-submenu-item(:class="secondMenuOpen === '2-' + i ? 'is-open' : ''", v-for="item,i in $store.state.category.categories")
              .tnt-submenu-title.d-flex
                a.tnt-submenu-link.tnt-ellipsis(href="javascript:void(0)", @click="onRedirect(`/categories/${slugify(item.name)}/${item.id}`)") {{item.name}}
                //- span.glyphicon.glyphicon-right(@click="onSecondMenuOpen('2-' + i)", v-if="item.listChild")
                i.fa(:class="secondMenuOpen === '2-' + i ? 'fa-caret-down' : 'fa-caret-right'", @click="onSecondMenuOpen('2-' + i)", v-if="item.listChild")
              ul.tnt-header-submenu(v-if="item.listChild")
                li.tnt-submenu-item(:class="thirdMenuOpen === `2-${i}-${j}` ? 'is-open' : ''",v-for="itemChild,j in item.listChild")
                  .tnt-submenu-title.d-flex
                    a.tnt-submenu-link.tnt-ellipsis(href="javascript:void(0)", @click="onRedirect(`/categories/${slugify(itemChild.name)}/${itemChild.id}`)") {{itemChild.name}}
                    i.fa(:class="thirdMenuOpen === `2-${i}-${j}` ? 'fa-caret-down' : 'fa-caret-right'",@click="onThirdMenuOpen(`2-${i}-${j}`)", v-if="itemChild.listChild") 
                  ul.tnt-header-submenu(v-if="itemChild.listChild")
                    li.tnt-submenu-item.d-flex(v-for="itemChild2,k in itemChild.listChild")
                      a.tnt-submenu-link.tnt-ellipsis(href="javascript:void(0)", @click="onRedirect(`/categories/${slugify(itemChild2.name)}/${itemChild2.id}`)") {{itemChild2.name}}
        li.tnt-mainmenu-item
          a.text-danger(href="javascript:void(0)", @click="onRedirect('/products/sale')")
            i.fa.fa-certificate
            |  On Sale
        li.tnt-mainmenu-item
          a(href="javascript:void(0)", @click="onRedirect('/products/best-seller')") 
            i.tnt-mainmenu-icon.fa.fa-line-chart
            |  Best Seller
        li.tnt-mainmenu-item
          a.text-danger(href="javascript:void(0)", @click="onRedirect('/products/featured')")
            i.fa.fa-unlock
            |  Unlock Me
        li.tnt-mainmenu-item
          a(href="javascript:void(0)", @click="onRedirect('/products/most-view')") 
            i.tnt-mainmenu-icon.fa.fa-hand-o-right
            |  Most View
        li.tnt-mainmenu-item
          a(href="javascript:void(0)", @click="onRedirect('/video')") 
            i.tnt-mainmenu-icon.fa.fa-film
            |  Video
        li.tnt-mainmenu-item
          a(href="javascript:void(0)", @click="onRedirect('/contact')") 
            i.tnt-mainmenu-icon.fa.fa-phone
            |  Contact
</template>
<script>
import { mapGetters } from 'vuex'
import Cart from '@/js/Models/Cart'
import { slugifyConvert as slugify } from '@/js/Utils/Utils'
export default {
  data() {
    return {
      navMenu: false,
      mainMenu: false,
      mainMenuOpen: '',
      secondMenuOpen: '',
      thirdMenuOpen: '',
      form: {
        search: ''
      },
      cart: new Cart(this),
      products: {
        cart: [
          {
            title: 'Product Name',
            img: '/images/products/example/FEATURED/1.jpg',
            url: '#',
            price: '540.00',
            rootPrice: '600.00',
            sale: 50,
            rate: 4
          },
          {
            title: 'Product Name',
            img: '/images/products/example/FEATURED/2.jpg',
            url: '#',
            price: '540.00',
            rootPrice: '600.00',
            sale: 50,
            rate: 4
          },
          {
            title: 'Product Name',
            img: '/images/products/example/FEATURED/3.jpg',
            url: '#',
            price: '540.00',
            rootPrice: '600.00',
            sale: 50,
            rate: 4
          }
        ]
      }
    }
  },
  computed: {
    ...mapGetters({
      user: 'user/getUser',
      cartCount: 'cart/getCount'
    })
  },
  async created() {
    this.headerAnim()
    if(this.$_.isEmpty(this.$store.state.category.categories)) {
      const categories = await this.$axios.get('categories')
      this.$store.commit('category/addCategories', categories.data.data)
    }
    if(this.$store.state.auth) {
      const fields = ['last_name', 'first_name', 'gender', 'phone', 'email', 'birthday', 'street_address', 'address_line_2', 'city', 'state_province', 'zipcode', 'domain_network']
      this.$axios.get(`/user?fields=${fields.join(',')}`).then((res) => {
        this.$store.commit('user/addUser', res.data.data)
      }).catch((err) => {
        const res = err.response
        if(res.status === 401){
          this.$router.push('/logout')
        }
      })
      await this.cart.count()
    }
  },
  methods: {
    onMainMenuOpen(n) {
      this.mainMenuOpen = this.mainMenuOpen === n ? -1 : n
      console.log('onMainMenuOpen');
    },
    onSecondMenuOpen(n) {
      this.secondMenuOpen = this.secondMenuOpen === n ? -1 : n
    },
    onThirdMenuOpen(n) {
      this.thirdMenuOpen = this.thirdMenuOpen === n ? -1 : n
    },
    onRedirect(url) {
      this.navMenu = false
      this.mainMenu = false
      this.$router.push(url)
    },
    onHoverMenu(event){
      // console.log('onHoverMenu',!this.$refs.menu);
      if(!this.$refs.menu){
        return;
      }
      const ul = this.$refs.menu;
      const height = ul.getAttribute('height');
      console.log(event.clientX);
    },
    slugify(str) {
      return slugify(str)
    },
    headerAnim() {
      let prevScrollpos = window.pageYOffset
      window.onscroll = () => {
        if(!this.$refs.header) return
        const currentScrollPos = window.pageYOffset
        if ((prevScrollpos < currentScrollPos)) {
          this.$refs.header.style.top = "-100% ";
        } else {
          this.$refs.header.style.top = "0";
        }
        prevScrollpos = currentScrollPos;
      }
    },
    onSearch() {
      if(this.form.search) {
        this.$router.push(`/search?q=${this.form.search}`)
      }
    }
  }
}
</script>
<style lang="scss" scoped>
  // Modules and Variables
  @import "../scss/modules/colors";
  @import "../scss/modules/mixins";
  // Partials
  @import "../scss/partials/header";
</style>
