<template lang="pug">
  .input-group.tnt-quantity-size
    .input-group-prepend
      button.btn.btn-dark(type="button", @click="decrement", :disabled="valueTmp <= min || max === 0") -
    input.form-control.text-center(type="number", :min="min", :max="max", :disabled="disabled", :value="valueTmp", @change="valueInput")
    .input-group-append
      button.btn.btn-dark(type="button", @click="increment", :disabled="valueTmp >= max") +
</template>
<script>
export default {
  props: {
    min: {
      type: Number,
      required: false
    },
    max: {
      type: Number,
      required: false
    },
    value: {
      type: Number,
      required: true
    },
    step: {
      type: Number,
      required: false
    },
    disabled: {
      type: Boolean,
      required: false
    },
    index: {
      type: Number,
      required: false
    }
  },
  data() {
    return {
      valueTmp: this.value
    }
  },
  watch: {
    value(newVal, oldVal) {
      this.valueTmp = newVal
    }
  },
  methods: {
    increment() {
      if(this.valueTmp < this.min) {
        this.valueTmp = this.min
      } else if(this.valueTmp < this.max) {
        if(this.step) {
          this.valueTmp + this.step <= this.max ? this.valueTmp += this.step : this.valueTmp = this.max
        } else {
          ++this.valueTmp
        }
      } else {
        this.valueTmp = this.max
      }
      this.emitEvent('change', this.valueTmp)
    },
    decrement() {
      if(this.valueTmp > this.max) {
        this.valueTmp = this.max
      } else if(this.valueTmp > this.min) {
        if(this.step) {
          this.valueTmp - this.step >= this.min ? this.valueTmp -= this.step : this.valueTmp = this.min
        } else {
          --this.valueTmp
        }
      } else {
        this.valueTmp = this.min
      }
      this.emitEvent('change', this.valueTmp)
    },
    valueInput(e) {
      const value = e.target.value
      if(value > this.max) {
        this.valueTmp = this.max
      } else if(value < this.min) {
        this.valueTmp = this.min
      } else {
        this.valueTmp = parseInt(value)
      }

      this.$forceUpdate()
      this.emitEvent('change', this.valueTmp)
    },
    emitEvent(event, value) {
      this.$emit(event, value, this.index)
    }
  }
}
</script>
<style lang="scss" scoped>
  // Modules and Variables
  @import "../scss/modules/colors";
  @import "../scss/modules/input";
  @import "../scss/modules/button";

  // Style
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
      -webkit-appearance: none;
  }

  .tnt-quantity-size {
    min-width: 120px;
  }
</style>
