<template lang="pug">
  div
    .row.tnt-block
      .col-sm-2.col-12.tnt-block
        a(href="javascript:void(0)", @click="$router.back()")
          i.fa.fa-arrow-left
          |  Previous Page
      .col-sm-4.col-12.tnt-block
        .tnt-sidebar-title
          h4 Shipping & Billing
        .tnt-sidebar-content
          .row.tnt-block
            .col-12
              p.tnt-ship-to Ship to
              p.tnt-ship-name {{delivery_address.full_name}}
              p.tnt-ship-address {{delivery_address.street1}}, {{delivery_address.city}}, {{delivery_address.state}}, {{delivery_address.postal_code}}
          .row.tnt-block
            .col-12
              p.tnt-ship-email Phone: {{delivery_address.phone}}
      .col-sm-4.col-12.tnt-block
        .tnt-sidebar-title
          .row.align-items-center
            h4.col-10 Order Summary
        .tnt-sidebar-content
          .row.tnt-block
            .col-6 Sub Total
            .col-6.text-right {{currency(amount.sub_total)}}
          .row.tnt-block
            .col-6 Shipping Fee
            .col-6.text-right {{currency(amount.shipping)}}
          .row.tnt-block
            .col-6 Tax
            .col-6.text-right {{currency(amount.tax)}} ({{amount.tax_percentage}}%)
          .row.tnt-block(v-if="!$_.isEmpty(amount.couponse_code)")
            .col-6 Coupon 
              span.text-success {{amount.couponse_code}}
            .col-6.text-right {{currency(amount.coupon_price)}}
          .row.tnt-block
            .col-6 Total
            .col-6.text-right.h6.text-danger {{currency(amount.total)}}
      .col-sm-2
    .row.tnt-block
      .col-sm-3
      .col-sm-6.col-12
        VueStep.tnt-vue-step(:now-step="statusTracking[tracking_details[0].values[0].status]", :step-list="stepOptions.stepList", :style-type="stepOptions.styleType")
      .col-sm-3
    .row.tnt-block
      .col-sm-2
      .col-sm-8.col-12
        .card.tnt-block(v-for="item,i in tracking_details", :key="item.key")
          .card-header {{item.key}}
          ul.list-group.list-group-flush
            li.list-group-item(v-for="itemChild,j in item.values", :key="j")
              .row.align-items-center
                .col-sm-2.col-3 {{itemChild.time}}
                .col-sm-1.col-2.text-center
                  i.fa.fa-check-circle-o.fa-2x.text-success(v-if="itemChild.status === 'delivered'")
                  i.fa.fa-clock-o.fa-2x(v-if="itemChild.status === 'out_for_delivery'")
                  i.fa.fa-circle-thin.fa-2x(v-if="itemChild.status === 'in_transit'")
                  i.fa.fa-barcode.fa-2x(v-if="itemChild.status === 'pre_transit'")
                .col-sm-9.col-7
                  p.font-weight-bold {{itemChild.message}}
                  p(v-if="itemChild.city || itemChild.state || itemChild.zip") {{itemChild.city}}{{$_.isNil(itemChild.state) ? '' : `, ${itemChild.state}`}}{{$_.isNil(itemChild.zip) ? '' : `, ${itemChild.zip}`}}
      .col-sm-2
    .row.tnt-block
      .col-sm-2
      .col-sm-8.col-12
        .table-responsive
          table.table
            thead.thead-dark
              tr
                th
                th Product Name
                th Quantity
                th Unit Price
                th
            tbody
              tr(v-for="item,i in list_product.products", :key="`${item.id}_${item.size}_${item.color}`")
                td
                  nuxt-link(:to="`/products/${slugify(item.name)}/${item.id}`")
                    img(v-lazy="item.thumbnail", width="70")
                td
                  p.mb-2
                    nuxt-link(:to="`/products/${slugify(item.name)}/${item.id}`") {{item.name}}
                  p.d-flex.align-items-center
                    b-button.mr-2(size="sm", variant="dark", v-if="!$_.isNil(item.size)", disabled) {{item.size}}
                    span.tnt-color.mr-2(:style="`background-color: ${item.color};`", v-if="!$_.isNil(item.color)")
                    span(v-if="!$_.isNil(item.color)") {{item.colorName}}
                td Quantity: {{item.quantity}}
                td {{currency(item.price)}}
                td
                  nuxt-link.text-primary(:to="`/order/review/${item.id}`", v-if="tracking_details[0].values[0].status === 'delivered'") WRITE REVIEW
        .col-12.text-center.tnt-order-more(v-if="list_product.next")
          a(href="javascript:void(0)", @click="onLoadMore") Load more 
            i.fa.fa-angle-double-down
      .col-sm-2
</template>
<script>
import VueStep from 'vue-step'
import { currency } from '@/js/Utils/Utils'
import { slugifyConvert as slugify } from '@/js/Utils/Utils'

export default {
  layout: 'no-slider',
  middleware: 'authenticated',
  components: {
    VueStep
  },
  computed: {
    order_info() {
      return this.$store.state.order.order.order_info
    },
    tracking_details() {
      return this.groupTracking(this.$store.state.order.order.tracking_details)
    },
    list_product() {
      return this.$store.state.order.order.list_product
    },
    delivery_address() {
      return this.$store.state.order.order.delivery_address
    },
    amount() {
      return this.$store.state.order.order.amount
    }
  },
  async fetch({ store, params, app, route }) {
    const { data } = await app.$axios.get(`order_detail?id=${route.params.id}`)
    return store.commit('order/addOrder', data.data)
  },
  data() {
    return {
      title: 'Order Detail',
      stepOptions: {
        nowStep: 1,
        stepList: [
          'Pre Transit',
          'In Transit',
          'Out For Delivery',
          'Delivered'
        ],
        styleType: 'style2'
      },
      statusTracking: {
        pre_transit: 1,
        in_transit: 2,
        out_for_delivery: 3,
        delivered: 4
      }
    }
  },
  methods: {
    groupTracking(data) {
      if(this.$_.isEmpty(data)) {
        return []
      }

      let results = []
      data.map(item => {
        const index = results.findIndex((el, i) => el.key === item.date)
        if(index === -1) {
          results.push({
            key: item.date,
            values: [{
              time: item.time,
              message: item.message,
              status: item.status,
              city: item.city,
              state: item.state,
              dateTime: item.dateTime,
              zip: item.zip
            }]
          })
        } else {
          results[index].values.push({
            time: item.time,
            message: item.message,
            status: item.status,
            city: item.city,
            state: item.state,
            dateTime: item.dateTime,
            zip: item.zip
          })
        }
      })
      return results
    },
    async onLoadMore() {
      const { data } = await this.$axios.get(`allorder/${this.$route.params.id}?page=${this.list_product.page + 1}`)
      this.$store.commit('order/addProducts', data.data)
    },
    currency(num) {
      return currency(num)
    },
    slugify(str) {
      return slugify(str)
    }
  },
  head() {
    return {
      title: this.title
    }
  }
}
</script>
<style lang="scss" scoped>
  // Modules and Variables
  @import "../../scss/modules/colors";

  // Partials
  @import "../../scss/partials/sidebar";

  // Style
  @import "../../scss/pages/order/_id.scss";
</style>
