.tnt-detail-block {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.tnt-detail-img {
  margin-bottom: 10px;
  border: 1px solid $color-eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  position: relative;

  &::before {
    content: '';
    display: block;
    padding-top: 100%;
  }
}

.tnt-detail-listImg {
  margin-bottom: 15px;
}

.tnt-detail-title {
  font-size: 20px;
  text-transform: none;
  font-weight: normal;
  color: $color-666666;
  margin-bottom: 3px;
}

.tnt-detail-price {
  font-size: 20px;
  color: $color-f57224;
  font-weight: bold;
}

.tnt-detail-discount {
  margin-bottom: 5px;
}

.tnt-detail-rootPrice {
  font-size: 12px;
  text-decoration: line-through;
}

.tnt-detail-sale {
  margin-left: 10px;
  font-size: 12px;
}

.tnt-detail-status {
  margin-bottom: 10px;
}

.tnt-detail-weight {
  margin-bottom: 10px;
}

.tnt-detail-color {
  margin-bottom: 10px;

  span {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid $color-eeeeee;
    cursor: pointer;
    border-radius: 50%;

    &.is-selected {
      border: 1px solid $color-000000;
      position: relative;

      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: FontAwesome;
        color: $color-67c23a;
        content: '\f00c';
      }
    }

    &:not(:last-child) {
      margin-right: 5px;
    }
  }
}

.tnt-detail-ratings {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
}

.tnt-detail-ratingBox {
  margin-right: 5px;
}

.tnt-detail-overview {
  padding: 15px 0;
  border-top: 1px solid $color-eaeaea;
  border-bottom: 1px solid $color-eaeaea;
  margin-bottom: 15px;

  h5 {
    color: $color-333333;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  p {
    line-height: 20px;
  }
}

.tnt-detail-quantity {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid $color-eaeaea;
}

.tnt-detail-tabs {
  margin-bottom: 20px;

  ul {
    border: 1px solid $color-eaeaea;
  }

  li {
    display: inline-block;
    padding: 20px 30px;
    cursor: pointer;
    text-transform: uppercase;

    &.is-active {
      background-color: $color-000000;
      color: $color-ffffff;
    }

    &:hover {
      background-color: $color-000000;
      color: $color-ffffff;
    }

    &:not(:last-child) {
      margin-right: 1px;
    }
  }
}

.tnt-detail-tabItems {
  border-color: $color-eaeaea;
  border-style: solid;
  border-width: 0 1px 1px;
  padding: 20px;
}

.tnt-detail-tabItem {
  text-align: justify;
  text-justify: inter-word;
}

.tnt-review {
  margin-bottom: 30px;
}

.tnt-review-score-average {
  font-size: 48px;
}

.tnt-review-score-max {
  font-size: 32px;
  color: $color-aaaaaa;
  text-align: center;
}

.tnt-review-average {
  margin-bottom: 15px;
}

.tnt-review-count {
  color: $color-333333;
}

.tnt-comment-title {
  background: url(/images/border.png);
  background-repeat: repeat-x;
  color: $color-333333;
  text-transform: uppercase;
  background-position: left bottom;
  padding-bottom: 14px;
  margin-bottom: 14px;

  h4 {
    font-weight: bold;
    font-size: 20px;
  }
}

.tnt-comment-item {
  padding-bottom: 10px;
  margin-bottom: 10px;

  &:not(:last-child) {
    border-bottom: 1px solid $color-eaeaea;
  }
}

.tnt-comment-author {
  font-size: 10px;
  color: $color-bbbbbb;
  margin-bottom: 10px;
}

.tnt-comment-content {
  color: $color-333333;
}

.tnt-comment-content {
  white-space: pre-line;
}

.tnt-comment-warning {
  margin-bottom: 14px;
}

// Medium devices (tablets, 768px and up)
@media (max-width: 575.98px) {
  .tnt-detail-tabs {
    li {
      display: block;
      padding: 10px 30px;

      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }
}

@media (min-width: 576px) {
  .tnt-detail-btnGroup {
    button {
      height: 50px;
    }
  }
}
